<h1>El registro fue almacenado con éxito!</h1>

<%= link_to "Volver", sales_new_path%>

<% @sale.each do |s| %>
  <div class="">
    <p>Código de la venta: <%= s.cod %></p>
    <p>Detalle de la venta: <%= s.detail %></p>
    <p>Categoría de la venta: <%= s.category %></p>
    <p>Valor de la venta: <%= s.value %></p>
    <p>Porcentaje de descuento aplicado: <%= s.discount %></p>
    <p>Porcentaje correspondiente al IVA: <%= s.tax %></p>
    <p>Total de la venta: <%= s.total %></p>
    <br>
  </div>
<% end %>
